{% extends 'base.html.twig' %}

{% block body %}
    Index !

    {{ form_start(bookForm) }}
    {{ form_widget(bookForm) }}
    {#<button type="submit">Envoyer</button>#}
    {{ form_end(bookForm) }}

{% endblock %}

