{% extends 'base.html.twig' %}

{% block body %}
    <h3>Category list :</h3>

    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ path('deleteCategory', {'id':category.id}) }}">X</a>

                {{ category.name }} :

                {% for idea in category.ideas %}
                    {{ idea.title }}.
                {% endfor %}

            </li>
        {% endfor %}
    </ul>

{% endblock %}