{% extends 'base.html.twig' %}

{% block body %}
    <h1>Detail !</h1>

    {% if idea %}
        <div>{{ idea.title | capitalize }}</div>
        <div>{{ idea.description | capitalize }}</div>
        <div>{{ idea.dateCreated | date('d/m/Y') }}</div>
    {% else %}
        <div>Idea non trouvé</div>
    {% endif %}
{% endblock %}

