{% extends 'base.html.twig' %}
{% form_theme ideaForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Idea :</h1>
    <div class="row">
        <div class="col-8 offset-2">
            {{ form(ideaForm) }}
        </div>
    </div>
{% endblock %}

