{% extends 'base.html.twig' %}

{% block body %}
    <h1>List !</h1>

    <ul>
        {% for idea in ideas %}
            <li>{{ idea | capitalize }} <a href="{{ path("detail") }}">(voir)</a> </li>
        {% endfor %}
    </ul>
{% endblock %}

